{% extends 'portfolio/base.html' %}

{% block content %}

  <section class="jumbotron text-center">
    <div class="container">

      {% load static %}
      <figure class="figure">
        <img src="{% static 'portfolio/pro_shot.jpg' %}" class="img-thumbnail" style="width:250px;">
      </figure>

      <h1>Zibo Zhang</h1>
      <p class="lead text-muted">Hello! I'm a computer engineering graduate student at the New York University with a history of utilizing programming skills to solve complex engineering problems in software development. Working & academic knowledge and experience in data structure, algorithms, database, network, cloud computing, etc. </p>
      <p>
        <a href="blog/" class="btn btn-primary my-2">Blogs</a>
        <a href="{% static 'portfolio/Resume.pdf' %}" class="btn btn-primary my-2">Resume</a>
        <br>
        <a href="generator/" class="btn btn-primary my-2">Password Generator</a>
        <a href="todo/" class="btn btn-primary my-2">Todos</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3">
      {% for project in projects reversed %}
        <div class="col mb-4">
          <div class="card h-100">
            <img src="{{ project.image.url }}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{ project.title }}</h5>
              <p class="card-subtitle mb-2 text-muted">{{ project.description|truncatechars:100 }}</p>
            </div>
            <div class="card-footer">
              {% if project.url %}
                <a href="{{ project.url }}" class="card-link" target="_blank">Link</a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
